In [46]:
import networkx as nx
import math
import numpy as np
import matplotlib as mat
import matplotlib.pyplot as plt 
import random
%matplotlib inline

In [47]:
# plot settings
almost_black = '#262626'
plt.rcParams['text.usetex'] = False
plt.rcParams['font.family'] = 'sans-serif'
plt.rcParams['font.sans-serif'] = 'Arial'
plt.rcParams['axes.edgecolor'] = almost_black
plt.rcParams['text.color'] = almost_black
plt.rcParams['axes.linewidth'] = 0.5
plt.rcParams['axes.labelsize'] = 12

Implement an information cascade model, in which the probability of node i activating node j is proportional to the weight of the edge from i to j.

In [79]:
def information_cascade(G,t_tot,init):
    
    t = 0
    
    max_weight = max([e[2]['weight'] for e in G.edges(data=True)])
    
    activation_times = {}
    for i in init:
        activation_times[i]=0
    
    while t<t_tot:
    
        curr_infectious = [n for n in activation_times if activation_times[n]==t]

        for n in curr_infectious:
            for m in G.neighbors(n):
                if m not in activation_times.keys():
#                     p = G[n][m]['weight']
#                     if p>random.uniform(0,1)*max_weight:
                    activation_times[m] = t+1
                        
        t+=1

    return activation_times

# Selecting the Initial activation nodes

In [13]:
import pandas as pd

In [14]:
nodes = pd.read_csv("nodes.csv")

In [15]:
nodes.head()

,Id,Label,timeset,communityid,twittername,first name,last name,political affiliation,indegree,outdegree,degree,eigencentrality
0,1417929933800751104,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0,0.0
1,1052290795942731777,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0,0.0
2,1247907027650838528,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0,0.0
3,1103476860187369472,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0,0.0
4,998590102573023232,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0,0.0

In [16]:
retweeting_activists_mps = nodes.dropna(subset=["political affiliation"])

In [17]:
retweeting_activists_mps.head()

,Id,Label,timeset,communityid,twittername,first name,last name,political affiliation,indegree,outdegree,degree,eigencentrality
21,86384661,NaN,NaN,1.0,Yasir_Naqvi,Yasir,Naqvi,Liberal,73,0,73,0.230067
25,2344419362,NaN,NaN,1.0,SalmaZahid15,Salma,Zahid,Liberal,48,3,51,0.169595
61,170377354,NaN,NaN,1.0,AnthonyRota,Anthony,Rota,Liberal,4,0,4,0.012606
79,2942312619,NaN,NaN,1.0,YRobillardPLC,Yves,Robillard,Liberal,0,0,0,0.000000
120,3242606862,NaN,NaN,1.0,MMcLeodNWT,Michael,McLeod,Liberal,13,1,14,0.040971

In [18]:
retweeting_activists_mps.describe()

,Id,Label,timeset,communityid,indegree,outdegree,degree,eigencentrality
count,2.820000e+02,0.0,0.0,277.000000,282.000000,282.000000,282.000000,282.000000
mean,1.640037e+17,NaN,NaN,2.833935,25.007092,0.570922,25.578014,0.129402
std,4.055762e+17,NaN,NaN,3.159046,29.984930,1.206568,30.407130,0.176837
min,3.358671e+06,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1.567401e+08,NaN,NaN,1.000000,4.000000,0.000000,4.000000,0.012606
50%,4.149966e+08,NaN,NaN,2.000000,13.500000,0.000000,14.000000,0.056729
75%,2.851923e+09,NaN,NaN,3.000000,35.000000,1.000000,35.000000,0.169197
max,1.427259e+18,NaN,NaN,21.000000,151.000000,8.000000,151.000000,1.000000

In [19]:
retweeting_activists_mps = retweeting_activists_mps[retweeting_activists_mps["outdegree"] > 0]

In [20]:
retweeting_activists_mps.head()

,Id,Label,timeset,communityid,twittername,first name,last name,political affiliation,indegree,outdegree,degree,eigencentrality
25,2344419362,NaN,NaN,1.0,SalmaZahid15,Salma,Zahid,Liberal,48,3,51,0.169595
120,3242606862,NaN,NaN,1.0,MMcLeodNWT,Michael,McLeod,Liberal,13,1,14,0.040971
152,360677740,NaN,NaN,1.0,lisahepfner2021,Lisa,Hepfner,Liberal,50,1,51,0.157580
364,25813888,NaN,NaN,1.0,NaN,NaN,NaN,Activist Organization,11,1,12,0.034668
519,2322580746,NaN,NaN,1.0,jimcarr_wpg,Jim,Carr,Liberal,4,1,5,0.012606

In [21]:
retweeting_activists_mps.describe()

,Id,Label,timeset,communityid,indegree,outdegree,degree,eigencentrality
count,8.000000e+01,0.0,0.0,80.000000,80.000000,80.000000,80.000000,80.000000
mean,1.964261e+17,NaN,NaN,1.850000,40.550000,2.012500,42.562500,0.231257
std,4.529133e+17,NaN,NaN,1.159441,34.901634,1.496779,35.249506,0.219005
min,1.601440e+07,NaN,NaN,1.000000,1.000000,1.000000,2.000000,0.003152
25%,2.392274e+08,NaN,NaN,1.000000,12.750000,1.000000,14.000000,0.064608
50%,4.941426e+08,NaN,NaN,1.000000,31.000000,1.000000,33.000000,0.165861
75%,2.914601e+09,NaN,NaN,3.000000,56.000000,3.000000,58.250000,0.334226
max,1.427259e+18,NaN,NaN,5.000000,145.000000,8.000000,148.000000,1.000000

In [22]:
len(retweeting_activists_mps["outdegree"])

80

## Selecting the targets from the edges

In [26]:
edges = pd.read_csv("../Null Model Comparison/largest_component_networkx_format.csv", names=["Source", "Target", "Weight"])

In [27]:
edges.head()

                Source      Target        Weight
0  1385933370090209280   158095776  {"weight":1}
1  1416535505454338050   158095776  {"weight":8}
2  1416535505454338050  1604931252  {"weight":1}
3            544695802   158095776  {"weight":1}
4   716257068538327040   158095776  {"weight":1}

In [30]:
relevant_paths = pd.merge(edges, retweeting_activists_mps, left_on='Source', right_on='Id')

In [31]:
relevant_paths.head()

,Source,Target,Weight,Id,Label,timeset,communityid,twittername,first name,last name,political affiliation,indegree,outdegree,degree,eigencentrality
0,150270263,18681111,"{""weight"":1}",150270263,NaN,NaN,1.0,NaN,NaN,NaN,Activist Organization,7,1,8,0.037561
1,29545977,59686058,"{""weight"":1}",29545977,NaN,NaN,2.0,NaN,NaN,NaN,Activist Organization,2,1,3,0.006303
2,25813888,150270263,"{""weight"":1}",25813888,NaN,NaN,1.0,NaN,NaN,NaN,Activist Organization,11,1,12,0.034668
3,577727470,119925381,"{""weight"":1}",577727470,NaN,NaN,2.0,NaN,NaN,NaN,Activist Organization,10,1,11,0.031516
4,294660973,294660973,"{""weight"":1}",294660973,NaN,NaN,5.0,NaN,NaN,NaN,Activist Organization,3,1,4,0.014769

In [35]:
activation_nodes = relevant_paths['Target'].unique()

In [36]:
activation_nodes

array([           18681111,            59686058,           150270263,
                 119925381,           294660973,            14079041,
                  17969963,          2715275551,           377588094,
       1342125115383939073,           273262205,            24990450,
                3025416359, 1425866189780160514,          2530008414,
                2800741820,            16014404, 1063494232126689280,
                 408072407,           234550882,          3402128080,
                 803381983,           261772246,           417389780,
       1170770038208565248,          1707636642, 1143229947932229632,
                2254171724,          2555308646,           739149720,
        989311745100566529,           268832287,  883774859452579840,
                  15810950,           129395750,  791282631006621696,
                 256552850, 1086084557009575936,            36133644,
                  34606493,           564207331,           414218319,
        943174774154498048,           412708728,          2852899113,
                 240786249, 1318671397560979456,          2937436849,
                 283226685,            45848808,  720579941184757760,
                  22849568,          1899063048,           579377522,
                1646334073,          2242940071,          3257047456,
                  20199202,          2891740872,           488052222,
                 272185225,          1072270926,          3188558830,
                 282526718,            47692251,           205786669,
                2678072299,           780323935,          2848993491,
                 276713213,            40550119,            29754743,
                  19634262,          2332742508,           272250877,
                 631988630,            61521038,            47338701,
                4026045455,           415774799,           524557553,
                2344419362,          2513973205, 1382336580518621186,
                 339752726,           911471588,           165812196,
                 175259033,           215632349,           341866567,
                 196717787], dtype=int64)

In [37]:
len(activation_nodes)

91

The edges in this network are going to be flipped so we can let information be travel down to those the person was retweeted by

In [38]:
edges.head()

                Source      Target        Weight
0  1385933370090209280   158095776  {"weight":1}
1  1416535505454338050   158095776  {"weight":8}
2  1416535505454338050  1604931252  {"weight":1}
3            544695802   158095776  {"weight":1}
4   716257068538327040   158095776  {"weight":1}

In [40]:
edges = edges[['Target', 'Source', 'Weight']]

In [41]:
edges

           Target               Source        Weight
0       158095776  1385933370090209280  {"weight":1}
1       158095776  1416535505454338050  {"weight":8}
2      1604931252  1416535505454338050  {"weight":1}
3       158095776            544695802  {"weight":1}
4       158095776   716257068538327040  {"weight":1}
...           ...                  ...           ...
13996   196717787             77596220  {"weight":1}
13997   196717787   891058415195303939  {"weight":1}
13998   196717787  1095768409449459712  {"weight":1}
13999   196717787            881426857  {"weight":1}
14000   196717787             17388526  {"weight":1}

[14001 rows x 3 columns]

In [42]:
edges = edges.set_index("Target")

In [44]:
edges.to_csv("Source_retweeted_by_target.csv")

# Running an information cascade

In [49]:
G = nx.read_edgelist('Source_retweeted_by_target.csv', comments='#',
                     create_using=nx.DiGraph(), 
                     delimiter=','"", 
                     nodetype=int, 
                     encoding='utf-8')

Running an initial cascade, starting with the nodes where the path lengths are going to be more than 1 
- G: the Graph with the edges reversed to allow for information to flow down to the retweeters
- Time: let this initally be 4 to see what we get with little spread
- activation nodes: These are the nodes where another MP or activist organization has retweeted them

In [76]:
t5 = information_cascade(G,5,activation_nodes)

In [77]:
t5

{18681111: 0,
 59686058: 0,
 150270263: 0,
 119925381: 0,
 294660973: 0,
 14079041: 0,
 17969963: 0,
 2715275551: 0,
 377588094: 0,
 1342125115383939073: 0,
 273262205: 0,
 24990450: 0,
 3025416359: 0,
 1425866189780160514: 0,
 2530008414: 0,
 2800741820: 0,
 16014404: 0,
 1063494232126689280: 0,
 408072407: 0,
 234550882: 0,
 3402128080: 0,
 803381983: 0,
 261772246: 0,
 417389780: 0,
 1170770038208565248: 0,
 1707636642: 0,
 1143229947932229632: 0,
 2254171724: 0,
 2555308646: 0,
 739149720: 0,
 989311745100566529: 0,
 268832287: 0,
 883774859452579840: 0,
 15810950: 0,
 129395750: 0,
 791282631006621696: 0,
 256552850: 0,
 1086084557009575936: 0,
 36133644: 0,
 34606493: 0,
 564207331: 0,
 414218319: 0,
 943174774154498048: 0,
 412708728: 0,
 2852899113: 0,
 240786249: 0,
 1318671397560979456: 0,
 2937436849: 0,
 283226685: 0,
 45848808: 0,
 720579941184757760: 0,
 22849568: 0,
 1899063048: 0,
 579377522: 0,
 1646334073: 0,
 2242940071: 0,
 3257047456: 0,
 20199202: 0,
 2891740872: 0,
 488052222: 0,
 272185225: 0,
 1072270926: 0,
 3188558830: 0,
 282526718: 0,
 47692251: 0,
 205786669: 0,
 2678072299: 0,
 780323935: 0,
 2848993491: 0,
 276713213: 0,
 40550119: 0,
 29754743: 0,
 19634262: 0,
 2332742508: 0,
 272250877: 0,
 631988630: 0,
 61521038: 0,
 47338701: 0,
 4026045455: 0,
 415774799: 0,
 524557553: 0,
 2344419362: 0,
 2513973205: 0,
 1382336580518621186: 0,
 339752726: 0,
 911471588: 0,
 165812196: 0,
 175259033: 0,
 215632349: 0,
 341866567: 0,
 196717787: 0,
 52003137: 1,
 2785990732: 1,
 1097176821622284289: 1,
 49660950: 1,
 36488911: 1,
 3254400099: 1,
 15022678: 1,
 877347579180220417: 1,
 1225234537111683072: 1,
 2340561200: 1,
 26498121: 1,
 138839349: 1,
 959432437754421249: 1,
 1008888246640762880: 1,
 1414597315344490499: 1,
 970054179459919873: 1,
 4018846452: 1,
 998328097: 1,
 257530658: 1,
 280064371: 1,
 792139214: 1,
 242506295: 1,
 1280337364993429504: 1,
 1009785173011988480: 1,
 131317072: 1,
 896911058459340800: 1,
 506816322: 1,
 1093655839783686144: 1,
 1090055713462865925: 1,
 138366163: 1,
 2693735376: 1,
 1939552088: 1,
 134876261: 1,
 2275886439: 1,
 89505108: 1,
 1223950760: 1,
 16116073: 1,
 92821882: 1,
 730746963054997504: 1,
 462516083: 1,
 4168160241: 1,
 562452889: 1,
 1303704709123969024: 1,
 1187413831666065409: 1,
 292480113: 1,
 23750353: 1,
 1251518605600206850: 1,
 2975160689: 1,
 129863114: 1,
 352278772: 1,
 967218847: 1,
 1406836405712588802: 1,
 284236497: 1,
 1304621913231286272: 1,
 726344857: 1,
 272110718: 1,
 1299403161564741633: 1,
 3004731065: 1,
 1434567543948300290: 1,
 3949264752: 1,
 17903589: 1,
 1149274476: 1,
 188123107: 1,
 20478618: 1,
 708470711250190337: 1,
 1169244348648587264: 1,
 2606160644: 1,
 1294589571942973440: 1,
 1408304479238197249: 1,
 1446352422272528385: 1,
 1159457355295338500: 1,
 1111684734: 1,
 96281231: 1,
 16272844: 1,
 154311944: 1,
 94473980: 1,
 250804320: 1,
 43510607: 1,
 3004517593: 1,
 244650352: 1,
 2978915301: 1,
 1070543814727745536: 1,
 133459481: 1,
 97751783: 1,
 355569142: 1,
 1033285939: 1,
 904897416536707073: 1,
 242619951: 1,
 404349157: 1,
 1109593590005723138: 1,
 478759271: 1,
 929787316838662144: 1,
 250756508: 1,
 265419095: 1,
 1302512017450971136: 1,
 16958167: 1,
 1027928327259009026: 1,
 387818233: 1,
 834519511009091584: 1,
 198471885: 1,
 33061603: 1,
 1354265125511983112: 1,
 80728527: 1,
 1213405462021853185: 1,
 2434162616: 1,
 406956528: 1,
 919548186590621696: 1,
 1106884731621257216: 1,
 4168242695: 1,
 1326332447013953537: 1,
 804025676626067459: 1,
 123110855: 1,
 895590923119329280: 1,
 265743906: 1,
 23489591: 1,
 75305649: 1,
 525857359: 1,
 2198725662: 1,
 3146336130: 1,
 777191985341882368: 1,
 3344587091: 1,
 1409159409134096395: 1,
 4257281248: 1,
 1373635835355045898: 1,
 1083319531198603264: 1,
 43304756: 1,
 494683709: 1,
 917368679951667201: 1,
 751852736: 1,
 1144598168757293056: 1,
 189406309: 1,
 2978651261: 1,
 22565926: 1,
 40654708: 1,
 18540267: 1,
 149610000: 1,
 1042860496892772352: 1,
 1419992380422373376: 1,
 29196028: 1,
 1262185260: 1,
 37552089: 1,
 986519394997039104: 1,
 15275330: 1,
 370526520: 1,
 538684370: 1,
 3418588623: 1,
 1415746394871189504: 1,
 1852773120: 1,
 700994268: 1,
 493727233: 2}

In [57]:
t6 = information_cascade(G,6,activation_nodes)

In [78]:
len(t5)

241

In [58]:
t6

{18681111: 0,
 59686058: 0,
 150270263: 0,
 119925381: 0,
 294660973: 0,
 14079041: 0,
 17969963: 0,
 2715275551: 0,
 377588094: 0,
 1342125115383939073: 0,
 273262205: 0,
 24990450: 0,
 3025416359: 0,
 1425866189780160514: 0,
 2530008414: 0,
 2800741820: 0,
 16014404: 0,
 1063494232126689280: 0,
 408072407: 0,
 234550882: 0,
 3402128080: 0,
 803381983: 0,
 261772246: 0,
 417389780: 0,
 1170770038208565248: 0,
 1707636642: 0,
 1143229947932229632: 0,
 2254171724: 0,
 2555308646: 0,
 739149720: 0,
 989311745100566529: 0,
 268832287: 0,
 883774859452579840: 0,
 15810950: 0,
 129395750: 0,
 791282631006621696: 0,
 256552850: 0,
 1086084557009575936: 0,
 36133644: 0,
 34606493: 0,
 564207331: 0,
 414218319: 0,
 943174774154498048: 0,
 412708728: 0,
 2852899113: 0,
 240786249: 0,
 1318671397560979456: 0,
 2937436849: 0,
 283226685: 0,
 45848808: 0,
 720579941184757760: 0,
 22849568: 0,
 1899063048: 0,
 579377522: 0,
 1646334073: 0,
 2242940071: 0,
 3257047456: 0,
 20199202: 0,
 2891740872: 0,
 488052222: 0,
 272185225: 0,
 1072270926: 0,
 3188558830: 0,
 282526718: 0,
 47692251: 0,
 205786669: 0,
 2678072299: 0,
 780323935: 0,
 2848993491: 0,
 276713213: 0,
 40550119: 0,
 29754743: 0,
 19634262: 0,
 2332742508: 0,
 272250877: 0,
 631988630: 0,
 61521038: 0,
 47338701: 0,
 4026045455: 0,
 415774799: 0,
 524557553: 0,
 2344419362: 0,
 2513973205: 0,
 1382336580518621186: 0,
 339752726: 0,
 911471588: 0,
 165812196: 0,
 175259033: 0,
 215632349: 0,
 341866567: 0,
 196717787: 0,
 83153695: 1,
 1318741345905922048: 1,
 21221149: 1,
 1380189591735517190: 1,
 727897637098135552: 1,
 2479224015: 1,
 4729460081: 1,
 35692915: 1,
 2400409201: 1,
 1663428859: 1,
 4269803603: 1,
 7312992: 1,
 756953808131858432: 1,
 39288111: 1,
 1091450434500341761: 1,
 374102478: 1,
 366225624: 1,
 134876261: 1,
 831073214: 1,
 578590553: 1,
 182401775: 1,
 797430894: 1,
 215423949: 1,
 361881477: 1,
 924390522600468485: 1,
 97904065: 1,
 1440532151582134272: 1,
 1310206245631078400: 1,
 262305830: 1,
 16272844: 1,
 1079374636608114689: 1,
 2413332228: 1,
 25127782: 1,
 22501387: 1,
 336357663: 1,
 91481264: 1,
 2797134487: 1,
 161552398: 1,
 969202095252561920: 1,
 1087828196966481921: 1,
 750868797079318528: 1,
 1410169802: 1,
 1098418046002253824: 1,
 164317823: 1,
 549456994: 1,
 499190879: 1,
 65544087: 1,
 4179502257: 1,
 97709356: 1,
 2727310657: 1,
 1327666400: 1,
 400259548: 1,
 1181269652871270400: 1,
 2911660443: 1,
 252636557: 1,
 20478618: 1,
 1169271231926767627: 1,
 1175447873325953029: 1,
 1165843165225484288: 1,
 1301200782717587458: 1,
 1169267399230550017: 1,
 1439018845218361345: 1,
 1454928205: 1,
 278528608: 1,
 1359860636306579456: 1,
 89505108: 1,
 1223950760: 1,
 802034597567598593: 1,
 900730131660058625: 1,
 930146052019167232: 1,
 109375565: 1,
 2978018901: 1,
 2555150671: 1,
 421151200: 1,
 1177376595029450754: 1,
 1360345646826483717: 1,
 828691196310589440: 1,
 1117616102442455041: 1,
 756913038: 1,
 2393877565: 1,
 824319315327483904: 1,
 958059691: 1,
 1291710785115361280: 1,
 529477577: 1,
 407049282: 1,
 292468351: 1,
 1373991758: 1,
 1106884731621257216: 1,
 3221899499: 1,
 1213405462021853185: 1,
 1303704709123969024: 1,
 788747576598069248: 1,
 154311944: 1,
 952247125185720320: 1,
 1883503086: 1,
 1006186075390439424: 1,
 865232482307719168: 1,
 1154318062197207041: 1,
 406956528: 1,
 214492262: 1,
 249196138: 1,
 4635167687: 1,
 727277222: 1,
 3044668917: 1,
 895590923119329280: 1,
 963973175200616449: 1,
 4395821867: 1,
 22565926: 1,
 948756511022600192: 1,
 1126937736122982401: 1,
 1439897031380668416: 1,
 2204603143: 1,
 3314500315: 1,
 23262377: 1,
 184265422: 1,
 452877328: 1,
 1140603291891642369: 1,
 480418245: 1,
 1424401002300542981: 1,
 37987143: 1,
 4336807819: 1,
 342138959: 1,
 1248842158553141250: 1,
 705988054578630656: 1,
 966841266381119489: 1,
 1446352422272528385: 1,
 265743906: 1,
 224600898: 1,
 16422863: 1,
 479862010: 1,
 1151231204923977729: 1,
 36877221: 1,
 1096251117745332226: 1,
 19557595: 1,
 1338474046095233026: 1,
 596787864: 2,
 302984766: 2,
 959432437754421249: 2,
 1187944161464475648: 2,
 17204460: 2,
 38880420: 2,
 15579178: 2}

In [64]:
t7 = information_cascade(G,7,activation_nodes)

In [65]:
t7

{18681111: 0,
 59686058: 0,
 150270263: 0,
 119925381: 0,
 294660973: 0,
 14079041: 0,
 17969963: 0,
 2715275551: 0,
 377588094: 0,
 1342125115383939073: 0,
 273262205: 0,
 24990450: 0,
 3025416359: 0,
 1425866189780160514: 0,
 2530008414: 0,
 2800741820: 0,
 16014404: 0,
 1063494232126689280: 0,
 408072407: 0,
 234550882: 0,
 3402128080: 0,
 803381983: 0,
 261772246: 0,
 417389780: 0,
 1170770038208565248: 0,
 1707636642: 0,
 1143229947932229632: 0,
 2254171724: 0,
 2555308646: 0,
 739149720: 0,
 989311745100566529: 0,
 268832287: 0,
 883774859452579840: 0,
 15810950: 0,
 129395750: 0,
 791282631006621696: 0,
 256552850: 0,
 1086084557009575936: 0,
 36133644: 0,
 34606493: 0,
 564207331: 0,
 414218319: 0,
 943174774154498048: 0,
 412708728: 0,
 2852899113: 0,
 240786249: 0,
 1318671397560979456: 0,
 2937436849: 0,
 283226685: 0,
 45848808: 0,
 720579941184757760: 0,
 22849568: 0,
 1899063048: 0,
 579377522: 0,
 1646334073: 0,
 2242940071: 0,
 3257047456: 0,
 20199202: 0,
 2891740872: 0,
 488052222: 0,
 272185225: 0,
 1072270926: 0,
 3188558830: 0,
 282526718: 0,
 47692251: 0,
 205786669: 0,
 2678072299: 0,
 780323935: 0,
 2848993491: 0,
 276713213: 0,
 40550119: 0,
 29754743: 0,
 19634262: 0,
 2332742508: 0,
 272250877: 0,
 631988630: 0,
 61521038: 0,
 47338701: 0,
 4026045455: 0,
 415774799: 0,
 524557553: 0,
 2344419362: 0,
 2513973205: 0,
 1382336580518621186: 0,
 339752726: 0,
 911471588: 0,
 165812196: 0,
 175259033: 0,
 215632349: 0,
 341866567: 0,
 196717787: 0,
 258916078: 1,
 871189841186357248: 1,
 58340767: 1,
 880108852162707456: 1,
 968303534822313984: 1,
 1663428859: 1,
 56134750: 1,
 2271466230: 1,
 28927228: 1,
 22810177: 1,
 3250066182: 1,
 455900881: 1,
 4329149122: 1,
 2595351727: 1,
 600234980: 1,
 2975160689: 1,
 2801095093: 1,
 1066847336050147329: 1,
 479088229: 1,
 795283700426620932: 1,
 16272844: 1,
 919548186590621696: 1,
 2226595754: 1,
 1117616102442455041: 1,
 376391827: 1,
 334361219: 1,
 2337169082: 1,
 1543621812: 1,
 2693735376: 1,
 896911058459340800: 1,
 17721863: 1,
 568429780: 1,
 1425939253456949252: 1,
 1427113908217815041: 1,
 769165632738762752: 1,
 275249156: 1,
 2408040639: 1,
 945672241576136706: 1,
 1361804785003954183: 1,
 4197757781: 1,
 23364610: 1,
 1335433670019059712: 1,
 1285762150741323776: 1,
 1231044484261019648: 1,
 1278776092355108868: 1,
 1339815329195704322: 1,
 1165843165225484288: 1,
 1142263233438294016: 1,
 1113174179044634624: 1,
 2147623108: 1,
 796457850629279744: 1,
 154311944: 1,
 249196138: 1,
 901958040831840257: 1,
 1390787451204014080: 1,
 1106884731621257216: 1,
 184164307: 1,
 1179737909500489729: 1,
 1248311114015834112: 1,
 2858967288: 1,
 1387143248465047554: 1,
 716501756: 1,
 946252093: 1,
 1010377752195805184: 1,
 2541558216: 1,
 1295049234312581121: 1,
 214492262: 1,
 1303704709123969024: 1,
 89505108: 1,
 705570249643397120: 1,
 1183628382: 1,
 1223950760: 1,
 1696849597: 1,
 1304621913231286272: 1,
 1634103324: 1,
 709304733: 1,
 163448607: 1,
 1175487335749885952: 1,
 3400282468: 1,
 22565926: 1,
 112753504: 1,
 1373991758: 1,
 534720794: 1,
 3375072193: 1,
 1243221104560345090: 1,
 3098295646: 1,
 1421131101922332672: 1,
 1289558439052496901: 1,
 925220521: 1,
 936078120: 1,
 2434162616: 1,
 188359178: 1,
 114268227: 1,
 48518723: 1,
 792395212136017920: 1,
 71665807: 1,
 891064163480608768: 1,
 265743906: 1,
 1222930666632839168: 1,
 60597469: 1,
 566525251: 1,
 545652293: 1,
 596787864: 1,
 4490072542: 1,
 4787630420: 1,
 352522038: 1,
 277276615: 1,
 1054951695359377414: 1,
 2557859383: 1,
 1263631: 1,
 983875620194013184: 1,
 1427258589077508100: 1,
 1028421941957292032: 1,
 914701376906600449: 1,
 16135612: 1,
 255067647: 1,
 63826204: 1,
 45113982: 1,
 149004101: 1,
 18418465: 1,
 1338157627453427713: 1,
 1229442788623818752: 1,
 23371273: 1,
 1145662294849990656: 1,
 1252040788982169600: 1,
 730826158258946050: 1}

In [68]:
t8 = information_cascade(G,8,activation_nodes)

In [69]:
t8

{18681111: 0,
 59686058: 0,
 150270263: 0,
 119925381: 0,
 294660973: 0,
 14079041: 0,
 17969963: 0,
 2715275551: 0,
 377588094: 0,
 1342125115383939073: 0,
 273262205: 0,
 24990450: 0,
 3025416359: 0,
 1425866189780160514: 0,
 2530008414: 0,
 2800741820: 0,
 16014404: 0,
 1063494232126689280: 0,
 408072407: 0,
 234550882: 0,
 3402128080: 0,
 803381983: 0,
 261772246: 0,
 417389780: 0,
 1170770038208565248: 0,
 1707636642: 0,
 1143229947932229632: 0,
 2254171724: 0,
 2555308646: 0,
 739149720: 0,
 989311745100566529: 0,
 268832287: 0,
 883774859452579840: 0,
 15810950: 0,
 129395750: 0,
 791282631006621696: 0,
 256552850: 0,
 1086084557009575936: 0,
 36133644: 0,
 34606493: 0,
 564207331: 0,
 414218319: 0,
 943174774154498048: 0,
 412708728: 0,
 2852899113: 0,
 240786249: 0,
 1318671397560979456: 0,
 2937436849: 0,
 283226685: 0,
 45848808: 0,
 720579941184757760: 0,
 22849568: 0,
 1899063048: 0,
 579377522: 0,
 1646334073: 0,
 2242940071: 0,
 3257047456: 0,
 20199202: 0,
 2891740872: 0,
 488052222: 0,
 272185225: 0,
 1072270926: 0,
 3188558830: 0,
 282526718: 0,
 47692251: 0,
 205786669: 0,
 2678072299: 0,
 780323935: 0,
 2848993491: 0,
 276713213: 0,
 40550119: 0,
 29754743: 0,
 19634262: 0,
 2332742508: 0,
 272250877: 0,
 631988630: 0,
 61521038: 0,
 47338701: 0,
 4026045455: 0,
 415774799: 0,
 524557553: 0,
 2344419362: 0,
 2513973205: 0,
 1382336580518621186: 0,
 339752726: 0,
 911471588: 0,
 165812196: 0,
 175259033: 0,
 215632349: 0,
 341866567: 0,
 196717787: 0,
 1887595058: 1,
 2785990732: 1,
 523351475: 1,
 305001163: 1,
 3305969806: 1,
 30089706: 1,
 1377425540: 1,
 30368137: 1,
 1237226500413407232: 1,
 431673426: 1,
 18686095: 1,
 959432437754421249: 1,
 771715827800342528: 1,
 1311359699183439872: 1,
 599677550: 1,
 552741734: 1,
 2693735376: 1,
 1443664767013502976: 1,
 1009785173011988480: 1,
 131317072: 1,
 2334292102: 1,
 511101681: 1,
 1251518605600206850: 1,
 115587493: 1,
 479088229: 1,
 506618878: 1,
 1372521854632611843: 1,
 1325684365: 1,
 1454190546: 1,
 3306592849: 1,
 925220521: 1,
 800680018326077440: 1,
 1022319903338987520: 1,
 363070453: 1,
 853722212741898240: 1,
 2484867234: 1,
 491861073: 1,
 783393750454198273: 1,
 226456784: 1,
 1425560065319313418: 1,
 805101587374936068: 1,
 1223950760: 1,
 165100373: 1,
 751852736: 1,
 1006186075390439424: 1,
 560707426: 1,
 1042586234193756161: 1,
 976078973418446848: 1,
 1732148604: 1,
 1440664285210767367: 1,
 2398652172: 1,
 1080003638: 1,
 1435677654699675654: 1,
 254370449: 1,
 1427015461351342080: 1,
 469591354: 1,
 1169435017: 1,
 1549119812: 1,
 23364610: 1,
 2806685818: 1,
 966399088085389312: 1,
 3158078347: 1,
 1278662030325510144: 1,
 1185949888787308544: 1,
 1169274023777169408: 1,
 39759112: 1,
 292468351: 1,
 16272844: 1,
 4395821867: 1,
 828020542728962048: 1,
 972851747294273537: 1,
 3237987454: 1,
 14807056: 1,
 1033285939: 1,
 1359601059774279683: 1,
 1046476783636234240: 1,
 2555150671: 1,
 919548186590621696: 1,
 1181242595269369858: 1,
 2435064488: 1,
 2266156348: 1,
 1254895669556449281: 1,
 214492262: 1,
 709304733: 1,
 2185520736: 1,
 1177376595029450754: 1,
 355569142: 1,
 3027126485: 1,
 1148735122092568577: 1,
 89505108: 1,
 2448438361: 1,
 1343062806: 1,
 1213405462021853185: 1,
 3374295154: 1,
 1217033150: 1,
 732743912: 1,
 4635167687: 1,
 2978018901: 1,
 1271509161717706760: 1,
 963973175200616449: 1,
 1303704709123969024: 1,
 1421197632173707268: 1,
 475867856: 1,
 884026348515115008: 1,
 57290634: 1,
 2563267070: 1,
 1373991758: 1,
 2434162616: 1,
 928260986: 1,
 1340365769025187840: 1,
 30096900: 1,
 2202236205: 1,
 3055684983: 1,
 868099546609577993: 1,
 55468747: 1,
 69744142: 1,
 2375939700: 1,
 1035299824856313857: 1,
 1429565763401175048: 1,
 1183544021626621953: 1,
 1239564608941113347: 1,
 404349157: 1,
 726839398373838848: 1,
 884265045479313408: 1,
 15352498: 1,
 818467340895522817: 1,
 1927067096: 1,
 263163489: 1,
 1395092719: 1,
 24573102: 1}

In [70]:
len(t8)

221

In [72]:
len(t6)

233

In [73]:
t6.to_df(axis=1, columns=["id", "activation_time"])

AttributeError: 'dict' object has no attribute 'to_df'

In [80]:
activation_times = pd.DataFrame.from_dict(t6, orient='index',
                       columns=[ "activation_time"])

In [81]:
activation_times.to_csv("activation_times.csv")