In [1]:
import pandas as pd

In [2]:
nodes_df = pd.read_csv("Network_export_nodes_betweenness_undirected_with_communities_and_degs.csv")

In [3]:
nodes_df.head()

,Id,Label,timeset,twittername,first name,last name,political affiliation,betweenness_centrality,communityid,out_degree_centrality
0,83508245,NaN,NaN,dckurek,Damien,Kurek,Conservative,127428.131518,3.0,0.000000
1,4568748862,NaN,NaN,ziad_aboultaif,Ziad,Aboultaif,Conservative,40337.761048,3.0,0.000000
2,44070432,NaN,NaN,LailaGoodridge,Laila,Goodridge,Conservative,62169.550313,3.0,0.000000
3,1425866189780160514,NaN,NaN,POhara2021,Patrick,O'Hara,Bloc Québécois,33266.819168,4.0,0.000447
4,1420552213253038080,NaN,NaN,NathalieSincla3,Nathalie,Sinclair-Desgagné,Bloc Québécois,107366.831360,4.0,0.000000

In [4]:
edges_df = pd.read_csv("../../Network_export_edges.csv")

In [8]:
edges_df = edges_df[["Source","Target","Weight"]]

In [9]:
edges_df.head()

                Source     Target  Weight
0  1385933370090209280  158095776       1
1  1416535505454338050  158095776       8
2            544695802  158095776       1
3   716257068538327040  158095776       1
4            258170457  158095776       1

Join the sources with the id to get the source id betweenness centrality

In [11]:
source_info = pd.merge(
    nodes_df,
    edges_df,
    how="inner",
    on=None,
    left_on="Id",
    right_on="Source",
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None,
)

In [12]:
source_info.head()

,Id,Label,timeset,twittername,first name,last name,political affiliation,betweenness_centrality,communityid,out_degree_centrality,Source,Target,Weight
0,246,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.000112,246,47452040,1
1,42203,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.000112,42203,14079041,1
2,369093,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5.0,0.000112,369093,211564038,1
3,851681,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.000112,851681,17823761,1
4,863841,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.000112,863841,25127782,1

In [13]:
full_info = source_info = pd.merge(
    nodes_df,
    source_info,
    how="inner",
    on=None,
    left_on="Id",
    right_on="Target",
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_Target", "_Source"),
    copy=True,
    indicator=False,
    validate=None,
)

In [14]:
full_info.head()

,Id_Target,Label_Target,timeset_Target,twittername_Target,first name_Target,last name_Target,political affiliation_Target,betweenness_centrality_Target,communityid_Target,out_degree_centrality_Target,...,twittername_Source,first name_Source,last name_Source,political affiliation_Source,betweenness_centrality_Source,communityid_Source,out_degree_centrality_Source,Source,Target,Weight
0,3358671,NaN,NaN,KenHardie,Ken,Hardie,Liberal,37051.950849,1.0,0.0,...,NaN,NaN,NaN,NaN,3.097217e+06,1.0,0.011728,16272844,3358671,7
1,3358671,NaN,NaN,KenHardie,Ken,Hardie,Liberal,37051.950849,1.0,0.0,...,NaN,NaN,NaN,NaN,0.000000e+00,1.0,0.000112,37609340,3358671,1
2,3358671,NaN,NaN,KenHardie,Ken,Hardie,Liberal,37051.950849,1.0,0.0,...,NaN,NaN,NaN,NaN,0.000000e+00,1.0,0.000112,79251430,3358671,1
3,3358671,NaN,NaN,KenHardie,Ken,Hardie,Liberal,37051.950849,1.0,0.0,...,NaN,NaN,NaN,NaN,3.070061e+03,1.0,0.000447,272626019,3358671,1
4,3358671,NaN,NaN,KenHardie,Ken,Hardie,Liberal,37051.950849,1.0,0.0,...,NaN,NaN,NaN,NaN,5.736894e+02,1.0,0.000335,291362474,3358671,1

## Edges Between Communities

Select communities where communityid_Target, and communityid_Source

In [18]:
edges_between_communities = full_info[full_info['communityid_Target'] != full_info['communityid_Source']]

In [24]:
a =edges_between_communities[['Id_Target','Id_Source', 'communityid_Target', 'communityid_Source', 'betweenness_centrality_Source', 'betweenness_centrality_Target']]

In [25]:
a.to_csv("Betweeenness_communities.csv")