# Tweets are MP's

In [1]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline

In [2]:
tweets = pd.read_csv("tweet-user-edges.csv")

In [3]:
tweets.head()

,tweetId,UserId,twitterName,dateCreated,First Name,Last Name,Political Affiliation
0,1442922344037552128,83508245,dckurek,2021-09-28T18:41:09.000Z,Damien,Kurek,Conservative
1,1442922342644998150,83508245,dckurek,2021-09-28T18:41:09.000Z,Damien,Kurek,Conservative
2,1440394467337334798,83508245,dckurek,2021-09-21T19:16:16.000Z,Damien,Kurek,Conservative
3,1440126344067629056,83508245,dckurek,2021-09-21T01:30:51.000Z,Damien,Kurek,Conservative
4,1449082201023389703,4568748862,ziad_aboultaif,2021-10-15T18:38:14.000Z,Ziad,Aboultaif,Conservative

In [5]:
tweets = tweets.rename(columns={'UserId': 'MPUserId'})

In [6]:
tweet_retweet_df = pd.read_csv('tweet-retweet.csv')

In [7]:
tweet_retweet_df.head()

               tweetId               userId
0  1442922344037552128            260265236
1  1442922344037552128   787774368566816768
2  1442922344037552128   857464194626727936
3  1442922344037552128  1307814874999742464
4  1442922344037552128           2550603348

In [8]:
merge = pd.merge(tweet_retweet_df, tweets, left_on='tweetId', right_on='tweetId')

In [9]:
merge.head()

,tweetId,userId,MPUserId,twitterName,dateCreated,First Name,Last Name,Political Affiliation
0,1442922344037552128,260265236,83508245,dckurek,2021-09-28T18:41:09.000Z,Damien,Kurek,Conservative
1,1442922344037552128,787774368566816768,83508245,dckurek,2021-09-28T18:41:09.000Z,Damien,Kurek,Conservative
2,1442922344037552128,857464194626727936,83508245,dckurek,2021-09-28T18:41:09.000Z,Damien,Kurek,Conservative
3,1442922344037552128,1307814874999742464,83508245,dckurek,2021-09-28T18:41:09.000Z,Damien,Kurek,Conservative
4,1442922344037552128,2550603348,83508245,dckurek,2021-09-28T18:41:09.000Z,Damien,Kurek,Conservative

In [16]:
user_to_mp = merge[["userId","MPUserId"]].set_index("userId")

In [17]:
user_to_party = merge[["userId","Political Affiliation"]].set_index("userId")

In [18]:
user_to_mp.tail()

                      MPUserId
userId
1232471924145577985  196717787
760497115            196717787
872810605            196717787
37552089             196717787
1483413924           196717787

## Persist Files

In [19]:
user_to_mp.to_csv("user-to-mp-edges.csv")

In [20]:
user_to_party.to_csv("user-to-party-edges.csv")